.plans__section {
  .secondary-text {
    width: 28%;
    margin: 0 auto 25px;
  }
}

.plans__list {
  @extend %flexbox;
  margin: 40px 0;
  .plans__item {
    flex-basis: 45%;
    margin-right: 10%;
    &:last-child {
      margin-right: 0;
    }
  }
}

.plan {
  padding: 0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
  color: #f72416;
  .plan__header {
    @extend %flexbox;
    padding: 20px 10%;
    border-radius: 20px 20px 0 0;
    background-color: #f72416;
    color: #fff;
    .plan__title {
      h3 {
        margin-bottom: 0;
        text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
      }
    }
    .plan__currencies {
      input {
        display: none;
      }
      .plan__currency {
        font-size: 1.7rem;
        color: #ffc9c9;
        cursor: pointer;
        &:first-child {
          margin-right: 10px;
          font-size: 1.9rem;
        }
        &.selected {
          color: #fff;
        }
      }
    }
  }
  .plan__desc {
    padding: 30px 10%;
  }
  .small-text {
    opacity: 0.6;
  }
  .plan__row {
    @extend %flexbox;
    overflow-x: hidden;
    .plan__feature {
      position: relative;
      // border-bottom: 1px dotted #000;
      span {
        position: relative;
        z-index: 1;
        padding-right: 3px;
        background-color: #fff;
      }
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
        white-space: pre;
      }
    }
    .plan__value {
      flex-basis: auto;
      position: relative;
      z-index: 1;
      padding-left: 4px;
      background-color: #fff;
    }
  }
  input {
    padding: 5px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    color: #f72416;
    outline: none;
  }
  .btn {
    display: block;
    margin: 15px auto;
  }
}

.plan__slider {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  .plan__term-input {
    width: 35px;
    font-size: 1.15rem;
    font-weight: bold;
  }
  .plan__slider-input {
    @extend %flexbox;
    align-items: center;
    margin: 10px 0;
    .plan__slider-value {
      width: auto;
    }
    .plan__slider-range {
      flex-grow: 2;
      vertical-align: middle;
      margin: 0 6px;
      border: none;
      // width: calc(100% - 50px);
    }
  }
}

.plan__deposit {
  .plan__feature {
    flex-basis: 50%;
    &:after {
      content: '' !important;
    }
  }
  .plan__value {
    flex-basis: 50%;
    .plan__deposit-input {
      width: 100%;
      font-size: 1.3rem;
    }
  }
}

.plan__profit {
  text-align: center;
  margin-bottom: 30px;
  h4 {
    margin-bottom: 0;
    &:after {
      font-weight: normal;
    }
  }
  .plan__profit-input {
    margin: 0 auto;
    width: auto;
    font-size: 2.2rem;
    font-weight: 600;
    padding: 0;
    border: none;
    pointer-events: none;
  }
}

.plan__consent {
  margin-right: 10px;
}

.popup {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  // display: -webkit-flex;
  // display: -ms-flex;
  // display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  display: none;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5001;
  background: #ccc;
  background: rgba(0, 0, 0, 0.5);
}

.popup__window {
  position: relative;
  z-index: 5002;
  width: 40vw;
  min-height: 30vh;
  padding: 40px 8%;
  background-color: #fff;
  text-align: center;
}

.popup__btn-close {
  position: absolute;
  z-index: 5003;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 36px;
  color: #fff;
  text-align: center;
  line-height: 1.1;
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}
